@import url('https://fonts.googleapis.com/css?family=Cairo');/*Importerar font från internet*/
body{ 
    margin:0;/*Sätter så att det inte finns några margins på kanterna*/
    height:100vh;/*Sätter höjden på sidan till 100 vertical heights*/
    font-family: "Cairo",monospace;/*Skapar många olika fonter till sidan som checkar om användaren har i ordning*/
}

.wrapper{
    display:grid;/*Visar gridden som bestämmst under*/
    width:100%;/*Sätter så att wrapperna har en bredd på 100%*/
    height:100%;/*Sätter så att wrapperna har en höjd på 100%*/
    margin: 0 auto; 
    grid-template-rows: 100px auto 80px; /*skapar 4 st rader för gridden med olika storlekar*/
    grid-template-areas: /*anger områden i grid layout*/
    "header"
    "nav"
    "main"
    "footer";
}

#instrument li{ /*list elementet i idn instrument*/
    font-size:22px; /*ändrar text storleken*/
}

nav > ol{ /*ändrar länkar under nav*/
    grid-template-columns: 1fr;
    display:grid;
}

.spaltstartsida{ /*klassen spaltstartsida får dessa stilar*/
    grid-template-columns:1fr 1fr;
    display:grid;
}

footer{ 
    grid-area:footer; /*Sätter så den för grid layout som bestämmdes i wrappen*/
    width:100%;
    background-color:rgba(0, 0, 0, 1);/*Ändrar backgrundsfärgen till svart*/
    opacity: 85%; /*Gör så att färgen är lite genomskinlig*/
}

footer p{ /*p i footer får dessa egenskaper*/
    color:white;
    text-align:center;/*Centrerar texten*/
    font-size:22px;
}

header{
    grid-area:header;
}

h1{
    display:none;/*Gör så att h1 inte visas*/
}

h2,h3{
    font-family: "cairo", monospace;
    font-size:30px;
    padding-top:10px;/*Skapar en 10 px padding ovanifrån*/
    margin:0;
    padding-left:30px;/*skapar padding till vänster*/
}

nav{
    grid-area:nav;
}

nav li{/*li i nav ändras*/
    display:grid;
    justify-content: stretch;/*Stretchar ut li*/
}

nav > ul  { /*ändrar länkar under nav*/
    display:grid;
    text-align:center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style-type: none;/*tar bort punkter eller annat innan listan*/
    padding-left:0;
}

a{
    text-decoration:none; /*Gör så att texten inte har någon dekoration, ingen understrucket eller fetstil*/
    color:rgba(0, 0, 0, 1);
    letter-spacing: 1px; /*Gör så att bokstäver har 1 px mellan varandra*/
    font-size:35px;
}

ol{
    list-style-type:none;
    padding-left:0px;
}

figure{
    margin:0;
}

li{
    list-style-type:none;
}

.startsida{
    font-size: 55px;
}

img{
    width:100%;
    border-style:none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  /*Skapar en skugga runt elementet man stylar*/ 
}

main{
    overflow-y:auto;
}

main p{
    font-family:"cairo", monospace; 
    font-size:22px;
    padding-left:30px;
    color:rgba(0, 0, 0, 1);
    letter-spacing: 1px;
    margin:0;
}

nav li a:hover{/*När man håller över a i li i nav */
    font-size:40px;
    font-weight: 1000;/*Gör så att texten får fetstil*/
    background-color:hsl(0,0%, 96.08%);
    transition: 500ms;/*Gör så att det tar lite tid innan stilarna man valt ändras*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
    border-radius:6px;
}

#instrument main{
    display:flex;/*Skapar en flex grid*/
    flex-direction: row;/*Gör så att flex gridden är i rad form*/
    flex-wrap: wrap;/*Gör så att flex gridden wrappar runt allt i main*/
}

#instrument main section{
    width: calc(100%/3);/*Räknar ut vad 100/3 blir med calc*/
}

#instrument main a img{
    border-radius:5%;/*Gör så att border får runda kanter*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
}

#instrument main a img:hover{
    opacity:95%;
    transition: 500ms;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
}

#instrument h2{
    text-align:center;
    padding:0px;
}

#instrument section{
    height:auto;
}

.genrespalt{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:250px 250px 250px 250px 250px;
    grid-row-gap: 40px;/*Gör så att det är 40px mellan grid raderna*/
}

.genrespalt section p{
    font-family:"cairo", monospace; 
    font-size:22px;
    padding-left:30px;
    color:rgba(0, 0, 0, 1);
    letter-spacing: 1px;
    margin:0;
}

.genrespalt h2,h3,h4{
    text-align:center;
    margin:0 auto;
    padding:0px;
}

.genrespalt section p{
    font-size: 18px;
    padding-left:10px;
}

.genrespalt section img{
    width:24%;
    border-radius:5%;
    height:auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
}

strong{
    font-size:1.5em; /*Gör så att texten får en storlek på 1.5 em vilket är 1.5 större än den vanliga text storlekn i dokumentet*/
}

.knappformular{
    display: flex;
    justify-content: center;/*Centerar allt i flex*/
    align-items:center; /*Centerar*/
    border:1px solid rgba(0, 0, 0, 1);
    border-radius:20px; 
}

.knappformular:hover{
    background-color:rgba(239, 239, 240, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
}

input[type=text],
input[type=password],
input[type=checkbox],
input[type=radio],
input[type=textbox], select{ 
    width:80%;
    padding:4px 10px;
    margin:8px 0;
    border: 1px solid #cccccc;
    border-radius:6px;
}

input[type=submit]{
    width:100%;
    background-color:#4CAF50;
    color:white;
    padding:14px 20px;
    margin:8px 0;
    border:none;
    border-radius: 4px;
    cursor:pointer; /*Gör så att muspekaren blir till pekare*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
}

fieldset{
    border-radius:6px;
    width:80%;
    display:block;/*Gör så att fieldset visas som ett block och var det enda sättet för mig att göra så att det kunde centreras snabbt och lätt*/
    margin:0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
}

input[type=submit]:hover{
    background-color:#45a049;
}

table {
    border-collapse: collapse;/*Gör så att det inte finns några mellanrum mellan bordersna i tabellen*/
    width: 90vw;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
}

th, td {
    border: 1px solid white; /*skapar en border runt tabell data och tabell header*/
    text-align: left;
    padding: 7.8px;
}

tr:nth-child(even) {
    background-color: #d6d6d6;
}

th {
    background-color: rgba(0, 0, 0, 0.70);
    color: white;
}

audio{
    height: 45px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
    border-radius:25px;
}

td audio{
    float:right; /*Gör så att det flyttas till höger, testade med annat men detta var det enda som funkade med audio och sökte även upp sätt man kunde göra det på och detta verkade smidigast*/
}

.tacksida{
    font-size:50px;
}

a:link{ /*Hur li ser ut innan den har varit besökt*/
    color:inherit;
}

a:visited{ /*Hur li ser ut efter den varit besökt*/
    color:inherit;
}

a:focus{/*När man trycker eller håller över den med tangentbordet*/
    color:inherit;
}

a:hover{ /*När man håller över li med musen*/
    color:inherit;
} 

a:active{/*När man trycker ner mus knappen*/
    color:inherit;
}
